.Rproj.user
.Rhistory
.RData
.Ruserdata
Other Software/
V10 Replication/bib/
V10 Replication/img/
V10 Replication/notes/
V10 Replication/res/
V10 Replication/sty/
V10 Replication/tab/
V10 Replication 20200417*
!V10 Replication*.tex